<div id="login">
  <h3 class="text-center text-white pt-5">Login form</h3>
  <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
              <div id="login-box" class="col-md-12">
                  <form id="login-form" class="form"  method="post"  #form="ngForm" (ngSubmit)="accedi(form)">
                      <h3 class="text-center text-light">Login Page</h3>
                      <div class="form-group">
                          <label for="email" class="text-light">Email</label><br>
                          <input required ngModel type="text" name="email" id="email" class="form-control" >
                      </div>
                      <div class="form-group">
                          <label for="password" class="text-light mt-3">Password:</label><br>
                          <input required ngModel type="password" name="password" id="password" class="form-control">
                      </div>
                      <div class="form-group">
                      <button type="submit" name="submit" class="btn btn-light btn-md" >Login</button>
                      </div>
                      <div id="register-link" class="text-right">
                        <a class="text-light" [routerLink]="['/registration']">Registrati</a>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
