<div id="login">
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form id="login-form" class="form" method="post" #form="ngForm" (ngSubmit)="signUp(form)">
            <h3 class="text-center text-light">Registration Page</h3>
            <div class="form-group">
              <label for="name" class="text-light  mt-3">Nome</label><br>
              <input required ngModel #name="ngModel" type="text" name="name" id="name" class="form-control">
            </div>
            <div class="form-group">
              <label for="email" class="text-light  mt-3">Email</label><br>
              <input required ngModel  #email="ngModel" type="email" name="email" id="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="password" class="text-light mt-3">Password</label><br>
              <input required ngModel   #password="ngModel" type="password" name="password" id="password" class="form-control">
            </div>
            <div class="form-group">
              <button [disabled]="form.invalid" type="submit" name="submit" class="btn btn-light btn-md" [routerLink]="['/login']">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
